<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fact.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fact.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @fact.picture %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
